<!-- For testing purposes only -->

<div id="message"></div>
<a href="#" id="d">Send</a>
<script>
    $(function () {
        var game = $.connection.gameHub;
        game.client.storeConnectionid = function () {
            console.log(arguments);
        };

        $.connection.hub.start()
        .done(function () {
            $("#d").click(function () {
                game.server.storeConnectionId(false, 5);
            });
        });
    });
</script>