body {
    background-image: url(../img/background-image.jpg);
    font-family: calibri;
    color: #4d602b;
    padding: 0;
}
header {
    background-color: rgba(165,190,57,0.7);
    width: 97%;
    height: 80px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    border: 2px solid rgba(185, 206, 114,1);
}
h1, h2, h3 {
    font-weight: bold;
    padding: 0;
    margin: 10px;
}
#logo {
    float: left;
    vertical-align: bottom;
}
#user-box {
    float: right;
    font-size: 28px;
    text-align: right;
    background-color: rgba(255,255,255,0.7);
    display: flex;
    justify-content: flex-end;
    display: none;
    border-radius: 5px;
    border: 2px solid rgba(185, 206, 114,1);
}
#user-box span {
    padding: 10px 0 10px 20px;
}
#user-box div {
    display: inline-block;
    width: 60px;
    height: 80px;
    vertical-align: middle;
    padding: 0 15px;
}
#user-box button {
    color: #464646;
    background-color: #f1da2d;
    border: 0;
    width: 60px;
    padding: 5px;
    margin: 0;
}
aside {
    clear: both;
    float: left;
    width: 16%;
    height: 520px;
    text-align: center;
    background-color: rgba(165,190,57,0.5);
    margin: 10px 10px 10px 0;
    padding: 0 10px;
}
aside hr {
    display: block;
    border: 0;
    border-top: 1px solid #6d7e35;
    padding: 0;
    margin: 0;
}
.table-name {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
}
.player-count {
    padding: 5px 10px ;
}
.table-state {
    clear: both;
    text-align: right;
    padding: 5px;
}
#table-list {
    height: 300px;
}
#table-list #pass{
    width: 120px;
    background-color: rgba(165,190,57,0.7);
    border: 1px solid #4d602b;
    padding: 2px;
    margin: 0 -5px 0 0;
}
#table-list input[type="submit"] {
    background-color: rgba(165,190,57,1);
    border: 1px solid #4d602b;
    padding: 2px;
    margin: 0;
}
#create-table form {
    text-align: right;
}
#create-table input[type="text"], input[type="password"]{
    background-color: rgba(165,190,57,1);
    border: 1px solid #4d602b;
    padding: 0px;
}
#create-table input[type="submit"]{
    color: #4d602b;
    background-color: #efdd8f;
    border: 0;
    padding:  3px 10px;
}
main {
    float: left;
    width: 80%;
    background-color: rgba(165,190,57,0.7);
    margin: 10px 0;
}
#left-side {
    display: inline-block;
    width: 40%;
}
#opponent-board {
    margin: 10px auto;
    width: 390px;
}
#opponent-board .grid-box{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #fcf1c3;
}
#score-board{
    margin: 0px 50px;
    width: 300px;
    height: 80px;
    background-color: #efdd8f;
    text-align: center;
    font-size: 16px;
    display: inline-block;
}
#score-board > h2{
    margin: 5px auto;
}
#score-board div {
    text-align: right;
}
#score-board span {
    padding: 0 80px 0 20px;
}
#score-board div:nth-child(3) span {
    color: #ff0000;
}
#score-board div:nth-child(2) span {
    color: #40b549;
}
#right-side{
    display: inline-block;
    width: 59%;
}
#main-board {
    margin: 10px auto;
    width: 490px;
}
#main-board .grid-box {
    display: inline-block;
    width: 45px;
    height: 45px;
    background-color: #fcf1c3;
    background-repeat:no-repeat;
    background-position:center
}
.hidden{
    display: none;
}
#error-dialog > .ui-dialog-titlebar-close{
    display: none;
}
.patrol-boat{
    background-image: url(../img/patrol-boat.png);
}
.patrol-boat-demage{
    background-image: url(../img/patrol-boat-demage.png);
}
.aircraft-carrier{
    background-image: url(../img/aircraft-carrier.png);
}
.aircraft-carrier-demage{
    background-image: url('../img/aircraft-carrier-demage.png');
}
.battleship{
    background-image: url('../img/battleship.png');
}
.battleship-demage{
    background-image: url('../img/battleship-demage.png');
}
.destroyer{
    background-image: url('../img/destroyer.png');
}
.destroyer-demage{
   background-image:  url('../img/destroyer-demage.png');
}
.submarine{
    background-image: url('../img/submarine.png');
}
.submarine-demage{
    background-image: url('../img/submarine.png');
}

.table-info{
    display: table;
    width: 60%;
    border-radius: 5px;
    background-color: rgba(185, 206, 114,0.7);
    margin: 10px;
    border: 2px solid rgba(185, 206, 114,1);
    float: left;
}

.log-table{
    display: table-row;
}
.table-cell{
    display: table-cell;
    font-size: 24px;
}

.table-cell h3{
    font-size: 24px;
}

.table-cell label input {
    width: 180px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid rgba(185, 206, 114,0.7);
    margin: -10px 0 0 0;
    padding-left: 5px;
    background-color: rgba(239, 239, 143,0.8);
    outline: none;
}
.table-cell >.btn{
    background-color: #F1DA2D;
    border: 0;
    border-radius: 5px;
    padding: 5px 25px;
    margin-top: 10px;
    font-size: 20px;
}

.create-table-form .btn{
    background-color: #F1DA2D;
    border: 0;
    border-radius: 5px;
    padding: 5px 25px;
    font-size: 20px;
    float: right;
    margin-right: 20px;
    margin-bottom: 5px;
}

.create-table-form{
    position: relative;
    float: right;
    display: table;
    width: 30%;
    background-color: rgba(185, 206, 114,0.7);
    margin: 10px;
    border-radius: 5px;
    border: 2px solid rgba(185, 206, 114,1);
    padding-top: 30px;
}

.create-table-form {
    padding-left: 20px;
    font-size: 24px;
}
.create-table-form label{
    line-height: 50px
}

.create-table-form label input {
    width: 200px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid rgba(185, 206, 114,0.7);
    padding-left: 5px;
    background-color: rgba(239, 239, 143,0.8);
    outline: none;
    float: right;
    margin: 10px 20px;
}

#login-box{
    display: flex;
    font-family: Consolas;
    width: 80%;
    border-radius: 5px;
    background-color: rgba(185, 206, 114,0.7);
    border: 2px solid rgba(185, 206, 114,1);
    margin: 20px auto;
    padding: 50px;
    align-content: flex-end;
}
#login-box .login-from{
    width: 90%;
    margin: 20px auto;
    display: block;
    float: right;
}

#login-box .login-from p{
    line-height: 40px;
    font-size: 36px;
    font-weight: bold;
}
#login-box .login-from label{
    font-size: 28px;
    line-height: 30px;
}

#login-box .login-from input{
    box-sizing: border-box;
    width: 200px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid rgba(185, 206, 114,0.7);
    padding-left: 5px;
    background-color: rgba(239, 239, 143,0.8);
    outline: none;
    margin: 10px 20px;
    color: #ffffff;
}


#login-box .login-from a{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-right: 20px;
    margin-left: 90px;
}

#join-box{
    display: flex;
    font-family: Consolas;
    width: 80%;
    border-radius: 5px;
    background-color: rgba(185, 206, 114,0.7);
    border: 2px solid rgba(185, 206, 114,1);
    margin: 20px auto;
    padding: 50px;
    align-content: flex-end;
}

#join-form{
    width: 90%;
    margin: 20px auto;
    display: block;
    float: right;
}


#join-form > p{
    line-height: 40px;
    font-size: 36px;
    font-weight: bold;
}
#join-form label{
    font-size: 28px;
    line-height: 30px;
}

#join-form input{
    box-sizing: border-box;
    width: 200px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid rgba(185, 206, 114,0.7);
    padding-left: 5px;
    background-color: rgba(239, 239, 143,0.8);
    outline: none;
    margin: 10px 20px;
    color: #ffffff;
}


#join-form a{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-right: 20px;
    margin-left: 80px;
}